.container {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:absolute;
}

.container .githubUsers {
    width: 300px;
    border: 2px solid black;
}

.container .githubUsers h1 {
    margin-left: 20px;
}

.container .githubUsers .tab {
    height: 35px;
    display: flex;
}

.container .githubUsers .tab .tabButton {
    width: 50%;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.container .githubUsers .tab .tabButton.active {
    font-weight: bold;
    border-bottom: 3px solid #6495ed;
}

.container .githubUsers .search {
    display: flex;
    border-top: 2px solid black;
    padding: 10px 0px;
}

.container .githubUsers .search .searchInput {
    width: calc(100% - 34px);
    height: 30px;
    border: 0px;
    padding: 0px 10px 0px 10px;
    outline: none;
    box-sizing: border-box;
}

.container .githubUsers .search .searchButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
}